{% extends "base.html" %}

{% block content %}
    <div class="manga-grid">
        {% for manga in mangas %}
            <div class="manga-item">
                <a href="{% url 'manga_detail' manga.id %}">
                    <div class="manga-image">
                        <img src="{{ manga.url_cover }}" alt="{{ manga.title }}">
                    </div>
                    <div class="manga-desc">
                        <h4 class="manga-title">{{ manga.title }}</h4>
                        <div class="manga-grade 
                            {% if manga.grade >= 6.5 %}green
                            {% elif manga.grade >= 4.5 %}orange
                            {% else %}red
                            {% endif %}">
                            <span>{{ manga.grade }}/10</span>
                        </div> 
                    </div>
                </a>
                <button class="add-to-cart" data-id="{{ manga.id }}">Ajouter au panier</button>
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {% if page > 1 %}
            <a href="{% url 'manga_list' page|add:-1 %}">Page précédente</a>
        {% else %}
            <span class="disabled">Page précédente</span>
        {% endif %}
        <span> | Page {{ page }} | </span>
        <a href="{% url 'manga_list' page|add:1 %}">Page suivante</a>
    </div>    
{% endblock %}