{% extends "base.html" %}

{% block content %}
    <div class="manga">
        <h1>{{ manga.title }}</h1>
        <div class="manga-detail">
            <div class="manga-cover">
                <img src="{{ manga.url_cover }}" alt="{{ manga.title }}">
            </div>
            <div class="manga-description">
                <p>{{ manga.description }}</p>
                <ul>
                    <li>Langue originale : {{ manga.originalLanguage }}</li>
                    <li>Dernier volume : {{ manga.lastVolume }}</li>
                    <li>Statut : {{ manga.status }}</li>
                    <li>Année de publication : {{ manga.year }}</li>
                    <!-- Ajoutez d'autres attributs selon les besoins -->
                </ul>
            </div>
        </div>
    </div>
{% endblock %}