
.logo-container {
    display: flex;
    align-items: center; 
    text-decoration: none;
    color: inherit; 
}

.logo {
    height: 3vw;
    margin-right: 8px; 
}

.logo-container span{
    font-size: 2vw;
}