
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2e2e4f;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 3.5vw; 
    box-sizing: border-box;
    margin: 0;
    z-index: 1000;
}

.navbar-left h1 {
    margin: 0;
    font-size: 24px;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.user-menu {
    position: relative;
    display: inline-block;
    margin-right: 3vw;
}

.user-icon {
    height: 3vw;
    cursor: pointer;
    border-radius: 50%;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #2e2e4f;
    min-width: 10vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 1vw;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}

.dropdown-content p {
    margin: 0;
    padding: 10px 0;
    color: white;
    font-size: 1vw;
    font-weight: bold;
}

.dropdown-content form {
    padding: 3px;
}

.dropdown-content button {
    width: 100%;
    height: 2vw;
    padding: 10px;
    margin-top: 10px;
    text-align: left;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

main {
    margin-top: 60px;
    padding: 20px;
}

.user-icon {
    max-height: 100%; 
    width: auto; 
}