<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}Manga2i{% endblock %}</title>
  {% load static %}
    <link rel="stylesheet" href="{% static 'css/styleLogo.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleDropdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleLogin.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleManga.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleMangaDetail.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleCart.css' %}">
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="navbar-left">
        <form action="{% url 'manga_list' 1 %}" method="post">
          {% csrf_token %}
          <a href="{% url 'manga_list' 1 %}" class="logo-container">
            <img src="{% static 'images/logo_manga2i.png' %}" alt="logo" class="logo">
            <span>Manga2i</span>
          </a>
        </form>
      </div>
      <div class="navbar-right">
        <div class="cart">
          <a href="{% url 'cart' %}">
            <img src="https://static.vecteezy.com/system/resources/previews/019/787/018/original/shopping-cart-icon-shopping-basket-on-transparent-background-free-png.png" alt="panier" class="user-icon">
          </a>
        </div>
        <div class="user-menu">
          <img src="https://static.vecteezy.com/system/resources/previews/019/879/186/large_2x/user-icon-on-transparent-background-free-png.png" alt="User Icon" class="user-icon" onclick="toggleMenu()">
          <div id="dropdownMenu" class="dropdown-content">
            {% if user.is_authenticated %}
              <p>{{ user.username  | capfirst }}</p>
              <form action="{% url 'password_change' %}" method="post">
                  {% csrf_token %}
                  <button type="submit">Password Change</button>
              </form>
              <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit">Log out</button>
              </form>
            {% else %}
              <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <button type="submit">Log in</button>
              </form>
              <form action="{% url 'password_reset' %}" method="post">
                {% csrf_token %}
                <button type="submit">Password reset</button>
              </form>
              <form action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                <button type="submit">Sign up</button>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <script src="{% static 'javascript/scriptDropdown.js' %}"></script>
  <script src="{% static 'javascript/scriptStock.js' %}"></script>
  <script src="{% static 'javascript/scriptCart.js' %}"></script>
</body>

</html>