{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <p>Hi {{ user.username }}!</p>
  <img src="{% static 'images/logo_manga2i.png' %}" alt="logo" class="logo_accueil">
{% else %} 
  <h1 style="color: #fff;">You are not logged in</h1>
  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log in</button>
  </form>
  <form action="{% url 'password_reset' %}" method="post">
    {% csrf_token %}
    <button type="submit">Password reset</button>
  </form>
  <form action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    <button type="submit">Sign up</button>
  </form>
{% endif %}
{% endblock %}