{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
  <div class="home">
    <h1 class=""home-title>You are not logged in</h1>
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <button type="submit">Log in</button>
    </form>
    <form action="{% url 'password_reset' %}" method="post">
      {% csrf_token %}
      <button type="submit">Password reset</button>
    </form>
    <form action="{% url 'signup' %}" method="post">
      {% csrf_token %}
      <button type="submit">Sign up</button>
    </form>
  </div>
{% endif %}
{% endblock %}